#aboutProductContainer {
  margin-top: 8%;
  padding-top: 18%;
  margin-bottom: 8%;
  background-color: #242219;
  background-image: url("../woman.png");
  height: 120vh;
  background-size: 38% 100%;
  background-repeat: no-repeat repeat;
}
#aboutProductHeading {
  background-image: linear-gradient(to right, #242219, #62605c);
  padding-left: 5.6%;
  padding-bottom: 0.8%;
}
#beneMeans {
  color: #bf985c;
  word-spacing: 1em;
}
#beneMeans2 {
  color: #bf985c;
  word-spacing: 0.9em;
}
#hempExtractCol {
  background-image: url("../extract.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 44vh;
}
#paraContainer {
  padding-right: 6.5%;
  text-align: justify;
  text-justify: inter-word;
}
#readMoreAbout {
  text-decoration: underline;
  color: #bf985c;
  font-size: 140%;
  padding-right: 7%;
  font-family: "montserrat";
}
#hempExtractPara {
  color: #bf985c;
  font-size: 260%;
  font-family: "times new roman";
  letter-spacing: 0.1em;
  padding-top: 31%;
  padding-left: 1%;
}
@media only screen and (min-width: 320px) {
  #aboutProductContainer {
    margin-top: 8%;
    margin-bottom: 8%;
    background-color: #242219;
    background-image: none;
    height: 120vh;
  }
  #aboutProductHeading {
    padding-left: 0%;
    background-image: none;
  }
  #beneMeans {
    color: #bf985c;
    word-spacing: normal;
    font-size: 170%;
    padding-left: 4%;
  }
  #beneMeans2 {
    color: #bf985c;
    word-spacing: normal;
    font-size: 170%;
    padding-left: 4%;
  }
  #aboutProductContainer {
    height: 107vh;
  }
  #hempExtractCol {
    margin-top: 5%;
    height: 35vh;
    text-align: center;
    background-position: center;
    margin-left: 3.5%;
  }
  #paraContainer {
    padding-right: 10%;
    text-align: justify;
    text-justify: inter-word;
  }
}
@media only screen and (min-width: 375px) {
  #beneSpan {
    padding-left: 5%;
  }
  #yourSpan {
    padding-left: 11%;
  }
  #navSideBtn {
    padding-left: 1%;
  }
}

@media only screen and (min-width: 425px) {
}

@media only screen and (min-width: 725px) {
  #aboutProductContainer {
    padding-top: 9%;
    background-image: url("../woman.png");
    height: 120vh;
    background-size: 50% 100%;
    background-repeat: no-repeat repeat;
  }
  #aboutProductHeading {
    background-image: linear-gradient(to right, #242219, #62605c);
    margin-left: 35%;
  }
  #beneMeans {
    font-size: 180%;
    padding-left: 5% !important;
  }
  #beneMeans2 {
    font-size: 180%;
    padding-left: 5% !important;
  }
  #paraContainer {
    padding-right: 10%;
    text-align: justify;
    text-justify: inter-word;
  }
  #readMoreAbout {
    text-decoration: underline;
    color: #bf985c;
    font-size: 140%;
    padding-right: 8.5%;
    padding-top: 3%;
    font-family: "montserrat";
  }
  #hempExtractCol {
    margin-left: 48.5%;
  }
}
@media only screen and (min-width: 1024px) {
  #aboutProductHeading {
    padding-bottom: 1.8%;
  }
  #beneMeans {
    font-size: 189% !important;
    padding-left: 9% !important;
  }
  #beneMeans2 {
    font-size: 189% !important;
    padding-left: 9% !important;
  }
  #paraContainer {
    padding-top: 3%;
  }
  #hempExtractCol {
    margin-top: 3%;
  }
  #hempExtractPara {
    color: #bf985c;
    font-size: 260%;
    font-family: "times new roman";
    letter-spacing: 0.1em;
    padding-top: 23%;
    padding-left: 7%;
  }
}
@media only screen and (min-width: 1440px) {
  #beneMeans {
    font-size: 216% !important;
    padding-left: 13% !important;
  }
  #beneMeans2 {
    font-size: 216% !important;
    padding-left: 13% !important;
  }
  #paraContainer p {
    font-size: 156%;
  }
  #readMoreAbout {
    padding-right: 9%;
  }
  #aboutProductContainer {
    height: 120vh !important;
  }
  #hempExtractCol {
    margin-left: 51%;
  }
  #hempExtractPara {
    color: #bf985c;
    font-size: 245%;
    font-family: "times new roman";
    letter-spacing: 0.1em;
    padding-top: 19%;
    padding-left: 1%;
  }
}
