#bannerHeading {
  padding-top: 8.5%;
}
#beneSpan {
  font-size: 190%;
}
#fitsSpan {
  font-size: 150%;
}
#yourSpan {
  font-size: 150%;
}
#lifeSpan {
  font-size: 150%;
}
#bannerSubHeading {
  color: rgb(241, 196, 130);
  font-size: 130%;
  font-family: "Montserrat";
}
#bannerSubHeading2 {
  color: rgb(241, 196, 130);
  font-size: 130%;
  font-family: "Montserrat";
  word-spacing: 0.2em;
}
#seeProductsBtn {
  padding-top: 1%;
}
#subHeading2Container {
  font-family: "Montserrat";
  padding-left: "6%";
}
@media only screen and (min-width: 320px) {
  #bannerHeading {
    padding-top: 35.5%;
  }
  #beneSpan {
    font-size: 126%;
  }
  #fitsSpan {
    font-size: 100%;
  }
  #yourSpan {
    font-size: 100%;
    padding-left: 20%;
  }
  #lifeSpan {
    font-size: 100%;
  }
  #bannerSubHeading {
    font-size: 179%;
    margin-bottom: 0;
    text-align: center;
  }
  #bannerSubHeading2 {
    font-size: 179%;
    font-family: "Montserrat";
    margin-top: 0;
    text-align: center;
  }
  #seeProductsBtn {
    padding-top: 10%;
    text-align: center;
  }
  #subHeading2Container {
    text-align: center;
  }
}
@media only screen and (min-width: 425px) {
  #beneSpan {
    padding-left: 11% !important;
  }
  #yourSpan {
    padding-left: 10% !important;
  }
}

@media only screen and (min-width: 725px) {
  #beneSpan {
    padding-left: 28% !important;
  }
  #yourSpan {
    padding-left: 28% !important;
  }
  #bannerHeading {
    padding-top: 18.5%;
  }
  #bannerSubHeading {
    padding-left: 24%;
  }
  #bannerSubHeading2 {
    padding-left: 24%;
  }
  #seeProductsBtn {
    padding-left: 17%;
    text-align: left;
  }
}
@media only screen and (min-width: 1024px) {
  #beneSpan {
    padding-left: 36% !important;
  }
  #seeProductsBtn {
    padding-left: 20% !important;
  }
  #seeProductsBtn a {
    padding: 1.5% 8% 7% !important;
  }
  #bannerHeading {
    padding-top: 21.5%;
  }
  #beneSpan {
    padding-left: 37% !important;
  }
  #yourSpan {
    padding-left: 30% !important;
  }
  #seeProductsBtn {
    padding-left: 22% !important;
    padding-top: 7%;
  }
  #seeProductsBtn a {
    padding: 1.5% 8% 6.5% !important;
  }
}
@media only screen and (min-width: 1440px) {
  #bannerHeading {
    padding-top: 15.5%;
  }
  #beneSpan {
    padding-left: 43% !important;
  }
  #yourSpan {
    padding-left: 27% !important;
  }
}
