#main-nav a {
  font-size: 120%;
}

#main-nav i {
  font-size: 200%;
}
@media only screen and (min-width: 320px) {
  #navLogo {
    padding-top: 16%;
  }
  #navSideBtn {
    padding-top: 21%;
    font-size: 149% !important;
  }
}
@media only screen and (min-width: 768px) {
  #navLogo {
    padding-top: 2%;
  }
  #navLogo img {
    width: 100% !important;
  }
  #navSideBtn {
    padding-top: 6%;
    font-size: 212% !important;
  }
}
@media only screen and (min-width: 1024px) {
  #navLogo img {
    width: 100% !important;
  }
  #frontBannerContainer {
    padding-top: 4% !important;
  }
  #navLogo {
    padding-top: 12% !important;
  }
}

@media only screen and (min-width: 1440px) {
  #navLogo img {
    width: 100% !important;
  }
  #frontBannerContainer {
    padding-top: 1% !important;
  }
  #navLogo {
    padding-top: 7% !important;
  }
}

@media only screen and (min-width: 1855px) {
  #navLogo img {
    width: 80% !important;
  }
  #frontBannerContainer {
    padding-top: 1% !important;
  }
  #navLogo {
    padding-top: 5% !important;
  }
}
